<html>

<head>
	<!--Permite el uso de Caracteres especiales-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!--Fuentes de letras Topografias-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> 
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css ">

	<!--Estilos css para iconos de social-media-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">

	<!-- Estilos css de bootstrap minificados-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!--Estilo css personalizado -->
	<link rel="stylesheet" href="../css/Encuesta_Valor_Economico/style_Valor_Economico.css ">


	<!--Temas css de bootstrap minificados-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
		integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Titulo -->

	<title>SIG | SIGCARB</title>

	<!--Fin titulo -->


</head>

<body>
	<div class="container" id="ecabezado_valor_economico">
		<div>
			<p class="distancia"></p>
		</div>
		<div>
			<p class="distancia"></p>
		</div>

		<!--Logo UNEG -->
		<div align="center">
			<img src="../Imagenes/uneg.png" width=75 height=60 align="middle"></img>
		</div>
		<!--Fin logo UNEG -->

		<!-- Encabezado -->
		<div align="center">
			<div> Universidad Nacional Experimental de Guayana. </div>
			<div> Proyecto Biocomplejidad en la Cuenca Alta del Río Botanamo. </div>
		</div>


		<!-- Fin del Encabezado -->


		<!-- Tìtulo de la encuesta -->
		<div align="center">
			<div> Encuesta estudio del uso de la fauna.</div>
		</div>
		<!-- Fin tìtulo de la encuesta -->

		<!--Datos bàsicos -->
		<div>
			<p class="distancia"></p>
		</div>
		<h4 align="center">Datos básicos:</h3>
			<div>
				<p class="distancia"></p>
			</div>

			<!-- Fila 1 del formulario -->

			<div class="row" align="center">

				<div class="inline" align="center">

					<div class="col-xs-1" style=" border:padding:0%" align="right">
					</div>

					<!--Columna 1 del encabezado de la encuesta Nro de la encuesta-->

					<div class="col-xs-2" style="padding:0%" align="left"><label>Nro de encuesta:</label></div>

					<div class="col-xs-3"><label>{{numero_encuesta | agregar}}</label> </div>

					<!--Columna 2 del encabezado de la encuesta fecha-->

					<div class="col-xs-2" style="padding:0%;margin:0px" align="right"><label>Fecha:</label></div>

					<div class="col-xs-3" style="padding:0%"><input type="date" id="fecha" class="form-control"
							placeholder="Introduzca la fecha de la encuesta" v-model="fecha"></div>


					<div class="col-xs-1" style="padding:0%">
					</div>
				</div>
			</div>

			<!--Fin de la Fila1 del formulario-->

			<div>
				<p class="distancia"></p>
			</div>

			<!-- Fila 2 del formulario -->

			<div class="row" align="center">

				<div class="inline" align="center">

					<div class="col-xs-1" style=" border:padding:0%" align="right">
					</div>

					<!--Columna 3 del encabezado de la encuesta hora de inicio -->

					<div class="col-xs-2" style="padding:0%" align=left><label align="center"> Hora de inicio:</label>
					</div>

					<div class="col-xs-3" style="padding:0%"><input type="time" id="hora_inicio" class="form-control"
							v-model="hora_inicio" placeholder="Introduzca la hora de inicio de la encuesta"></div>

					<!--Columna 4 del encabezado de la encuesta hora de finalizaion -->

					<div class="col-xs-2" style="padding:0%" align=right><label align="center"> Hora de
							finlización:</label></div>
					<div class="col-xs-3" style="padding:0%"><input type="time" id="hora_fin" class="form-control"
							v-model="hora_fin" placeholder="Introduzca la hora de finalización de la encuesta"></div>

					<div class="col-xs-1" style="padding:0%">
					</div>
				</div>

			</div>

			<!--Fin de la Fila2 del formulario-->

			<div>
				<p class="distancia"></p>
			</div>

			<!-- Fila 3 del formulario -->


			<!--Fin de la Fila4 del formulario-->

			<!--Fin datos bàsicos-->

			<!--Datos lugar de la entrevista-->
			<div>
				<p class="distancia"></p>
			</div>
			<h4 align="center"> Lugar de la entrevista: </h3>
				<div>
					<p class="distancia"></p>
				</div>


				<!-- Fila 1 del lugar de la entrevista -->

				<div class="row" align="center">

					<div class="inline" align="center">

						<div class="col-xs-1" style=" border:padding:0%" align="right">
						</div>

						<!--Columna 1 del encabezado de la encuesta Nombre de la comunidad-->

						<div class="col-xs-2" style="padding:0%" align="left"><label>Comunidad:</label></div>

						<div class="col-xs-3" style="padding:0%"><input type="text" class="form-control" id="comunidad"
								v-model="comunidad" placeholder="Nombre de la comunidad"></div>

						<!--Columna 2 del encabezado de la encuesta tipo de asentamiento -->

						<div class="col-xs-2" style="padding:0%" align=right><label align="center"> Tipo de
								asentamiento:</label></div>

						<div class="col-xs-3" style="padding:0%"><input type="text" class="form-control"
								v-model="tipo_asentamiento" id="asentamiento" placeholder="Tipo de asentamiento"></div>

						<div class="col-xs-1" style="padding:0%">
						</div>

					</div>

				</div>

				<!--Fin de la Fila1 del formulario-->

				<div>
					<p class="distancia"></p>
				</div>


				<!-- Fila 2 del lugar de la entrevista -->

				<div class="row" align="center">

					<div class="inline" align="center">

						<div class="col-xs-1" style=" border:padding:0%" align="right">
						</div>

						<!--Columna 1 del encabezado de la encuesta Nombre de la comunidad-->

						<div class="col-xs-2" style="padding:0%" align="left"><label>Grupo étnico:</label></div>

						<div class="col-xs-3" style="padding:0%"><input type="text" class="form-control"
								id="grupo-etnico" placeholder="Grupo étnico" v-model="grupo_etnico"></div>

						<!--Columna 2 del encabezado de la encuesta tipo de asentamiento -->

						<div class="col-xs-2" style="padding:0%" align=right><label align="center"> Altitud:</label>
						</div>

						<div class="col-xs-3" style="padding:0%"><input type="text" class="form-control" id="altitud"
								placeholder="Altitud" v-model="altitud"></div>

						<div class="col-xs-1" style="padding:0%">
						</div>

					</div>

				</div>

				<!--Fin de la Fila2 del formulario-->


				<div>
					<p class="distancia"></p>
				</div>


				<!-- Fila 3 del lugar de la entrevista -->

				<div class="row" align="center">

					<div class="inline" align="center">

						<div class="col-xs-1" style=" border:padding:0%" align="right">
						</div>

						<!--Columna 1 del encabezado de la encuesta Nombre de la comunidad-->

						<div class="col-xs-2" style="padding:0%" align="left"><label>UTM:</label></div>

						<div class="col-xs-3" style="padding:0%"><input type="text" class="form-control" id="utm"
								placeholder="UTM" v-model="utm"></div>


					</div>

				</div>

				<!--Fin de la Fila2 del formulario-->

				<div>
					<p class="distancia"></p>
				</div>
				<div>
					<p class="distancia"></p>
				</div>
				<div>
					<p class="distancia"></p>
				</div>
				<div>
					<p class="distancia"></p>
				</div>



				<!--Botones -->

				<div align="center">

					<input class="btn btn-danger" type="reset" value="Cancelar"
						onClick="window.location='../html_Usuario_Comun/indexUsuarioComun.html'">


					<input class="btn btn-success" type="submit" value="Siguiente" v-on:click="Registrar()">

				</div>

				<div>
					<p class="distancia"></p>
				</div>
				<div>
					<p class="distancia"></p>
				</div>

				<!-- Fin botones -->

	</div>

	<!--JQuery-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!--Archivo Javascript de bootstrap minificado-->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
	</script>
	<script src="../Librerias/js/vue.js"></script>
	<script src="../js/Encuesta_Valor_Economico/encabezado.js"></script>
</body>

</html>