<html>

<head>
	<!--Permite el uso de Caracteres especiales-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!--Fuentes de letras Topografias-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> 
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css ">

	<!--Estilos css para iconos de social-media-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">

	<!-- Estilos css de bootstrap minificados-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!--Estilo css personalizado -->
	<link rel="stylesheet" href="../css/Encuesta_Valor_Economico/style_Valor_Economico.css ">


	<!--Temas css de bootstrap minificados-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
		integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Titulo -->

	<title>SIG | SIGCARB</title>

	<!--Fin titulo -->


</head>

<body>
	<div class="container" id="formularioDiezValorEconomico">
		<div>
			<p class="distancia"></p>
		</div>
		<div>
			<p class="distancia"></p>
		</div>

		<!--Logo UNEG -->
		<div align="center">
			<img src="../Imagenes/uneg.png" width=75 height=60 align="middle"></img>
		</div>
		<!--Fin logo UNEG -->

		<!-- Encabezado -->
		<div align="center">
			<div> Universidad Nacional Experimental de Guayana. </div>
			<div> Proyecto Biocomplejidad en la Cuenca Alta del Rìo Botanamo. </div>
		</div>


		<!-- Fin del Encabezado -->


		<!-- Tìtulo de la encuesta -->
		<div class="form-inline">
			<div class="form-group" align="justify">
				Las siguientes son muy importantes para el etudio. De nuevo le recuerdo, todas sus respuestas son
				estrictamente confidenciales
			</div>
		</div>
		<!-- Fin tìtulo de la encuesta -->

		<div align="center">
			<!-- Datos basicos de la encuesta -->

			<div class="row">

				<div class="inline" align="center">

					<div class="col-xs-1" style=" border:padding:0%" align="right">
					</div>

					<!--Columna 2 del encabezado de la encuesta Nro de la encuesta-->

					<div class="col-xs-3" style="padding:0%" align="right"><strong>Nro de encuesta : </strong></div>
					<div class="col-xs-2" style="padding:0%" align="left">
						<p>{{numero_encuesta | agregar}}</p>
					</div>

					<!--Columna 1 del encabezado de la encuesta Nombre del encuestador -->

					<div class="col-xs-3" style="padding:0%" align="right"><strong> Encuestador : </strong></div>
					<div class="col-xs-2" style="padding:0%" align="left">
						<p>{{nombre_encuestador}}</p>
					</div>


					<div class="col-xs-1" style="padding:0%">
					</div>

				</div>

			</div>

			<!-- Fin datos bàsicos -->


			<!-- Datos basicos de la encuesta -->

			<div class="row">

				<div class="inline">

					<div class="col-xs-1" style=" border:padding:0%" align="right">
					</div>

					<!--Columna 2 del encabezado de la encuesta Nro de la encuesta-->

					<div class="col-xs-3" style="padding:0%" align="right"><strong>Comunidad : </strong></div>
					<div class="col-xs-2" style="padding:0%" align="left">
						<p>{{comunidad}}</p>
					</div>

					<!--Columna 1 del encabezado de la encuesta Nombre del encuestador -->

					<div class="col-xs-3" style="padding:0%" align=right><strong>Tipo de asentamiento : </strong></div>
					<div class="col-xs-2" style="padding:0%" align="left">
						<p> {{tipo_asentamiento}}</p>
					</div>


					<div class="col-xs-1" style="padding:0%">
					</div>

				</div>

			</div>

			<!-- Fin datos bàsicos -->


		</div>


		<h4 align="center"> Parte III:</h3>


			<!-- Introducciòn breve -->

			<div class="form-inline">
				<div class="form-group" align="justify">
					Las siguientes preguntas son muy importantes para el estudio. De nuevo le recuerdo, todas sus
					respuestas son estrictamente confidenciales
				</div>
			</div>


			<!-- Fin de la introducciòn breve -->

			<!--Pregunta -->
			<div>
				<p class="distancia"></p>
			</div>
			<div align="justify">
				<p> 13¿Número de miembros en su familia?</p>
			</div>

			<div> <input type="text" id="año_nacimiento" class="form-control"
					placeholder="Introduzca el número de miembros en su familia" v-model="respuestas[0].texto" /> </div>



			<!--Pregunta 10 -->
			<div>
				<p class="distancia"></p>
			</div>
			<div align="left">
				<p> 14.¿Cuál rango es el más cercano a sus ingresos familiares totales por mes? por favor incluya todas
					las fuentes de ingreso. (Mostrar rangos por selección)</p>
			</div>
			<div>
				<p class="distancia"></p>
			</div>

			<div>
				<select id=" ingreso" class="form-control" v-model="respuestas[1].opcion">
					<option> Seleccione </option>
					<option value="0 - 100.000"> 0 - 100.000 </option>
					<option value="100.000 - 500.000"> 100.000 - 500.000 </option>
					<option value="500.000 - 1.000.000"> 500.000 - 1.000.000 </option>
					<option value="1.000.000 - * "> 1.000.000 - * </option>
				</select>
			</div>


			<!--Fin de la pregunta No.14-->

			<!-- Pregunta No.15-->

			<div>
				<p class="distancia"></p>
			</div>
			<div align="left">
				<p> 15.Estado civil</p>
			</div>
			<div>
				<p class="distancia"></p>
			</div>

			<div>
				<p class="distancia"></p>
			</div>
			<div class="row">
				<div class="inline" align="center">
					<div class="col-xs-2" style="padding:0%" align=right><label align="right">1.Soltero(a)</label></div>
					<div class="col-xs-1" style="padding:0%" align=right><label><input type="radio" value="Soltero(a)"
								v-model="respuestas[2].opcion" align="center"></label></div>
					<div class="col-xs-2" style="padding:0%" align=right><label align="right">2.Casado(a)</label></div>
					<div class="col-xs-1" style="padding:0%" align=right><label><input type="radio" value="Casado(a)"
								v-model="respuestas[2].opcion" align="center"></label></div>
					<div class="col-xs-1" style="padding:0%" align=right><label align="right">3.Viudo(a)</label></div>
					<div class="col-xs-1" style="padding:0%" align=right><label><input type="radio" value="Viudo(a)"
								v-model="respuestas[2].opcion" align="center"></label></div>
					<div class="col-xs-2" style="padding:0%" align=right><label align="right">4.Divorciado(a)</label>
					</div>
					<div class="col-xs-1" style="padding:0%" align=right><label><input type="radio"
								value="Divorciado(a)" v-model="respuestas[2].opcion" align="center"></label></div>

				</div>
			</div>

			<div>
				<p class="distancia"></p>
			</div>
			<div class="row">
				<div class="inline" align="center">
					<div class="col-xs-2" style="padding:0%" align=right><label align="right">5.Pareja</label></div>
					<div class="col-xs-1" style="padding:0%" align=right><label><input type="radio" value="Pareja"
								v-model="respuestas[2].opcion" align="center"></label></div>

				</div>
			</div>



			<div>
				<p class="distancia"></p>
			</div>
			<div>
				<p class="distancia"></p>
			</div>


			<!--Botones -->

			<div align="center">

				<input class="btn btn-success" type="submit" value="Finalizar" v-on:click="Registrar()">

			</div>

			<!-- Fin botones -->
			<div>
				<p class="distancia"></p>
			</div>
			<div>
				<p class="distancia"></p>
			</div>


	</div>

	<!--JQuery-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!--Archivo Javascript de bootstrap minificado-->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
	</script>
	<script src="../Librerias/js/vue.js"></script>
	<script src="../js/Encuesta_Valor_Economico/encuesta_valor_economico10.js"></script>
</body>

</html>