body {
	margin:2.4%; 
	border: 2px solid #A4A4A4;
	padding:2px;
}.container{
	width: 96%;
}
.distancia{
	
	width:30%
}

#etiqueta-col1{
	margin-top:-0.5%;
	text-align: right;
}

.row{
	margin-top: 1%;
}
#boton{
	padding: 10%;
}
#etiqueta{
	text-align: center;

}
#dato{
	padding: 0%;
}
.encabezado{
	
	color: #A4A4A4;
	font-size: small;
	margin-top: -1%;
}
.etiqueta{
	margin-top: 1.5%;
}
.hora{
	padding: 0.5%;
	text-align: center;
}
#id{
	padding: 0%;
	text-align: center;
	color: #A4A4A4;
}

input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none;

    margin: 0;

}

 

input[type=number] {

    -moz-appearance:textfield;

}
#cod{
	margin-top: 10%;
}
.modal-footer{
	text-align: center;
	background-color: #D6E7CA;
}
.modal-dialog{
	text-align: center;
}
#header_confirm{
	background: #8BA6CB;
	color: white;
	font-weight: bold;
	text-shadow: -4px -4px 4px black;
	text-align: center;

}
#nota{
	text-align: center;
	font-size: 80%;
	color: red;
}
.boton-agregar{
	height: 16px;
	margin-top: 4px;
}
.editar{
	border: 1px solid #A4A4A4;
	margin-top:1.5px;
	border-radius: 3px;
	text-align: center;
}
.cod{
	margin-top: 10%;
}