body {
	margin:2.4%; 
	border: 2px solid #A4A4A4;
	padding:2px;
}
.container{
	
	width: 95%;
	
}
.distancia{
	
	width:30%;
}
label{
	margin-top:8px;
	margin-left:1px
	
}

.che{
	
		margin-top:0px;

}