<html>

<head>
	<!--Permite el uso de Caracteres especiales-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!--Fuentes de letras Topografias-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> 
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css ">

	<!--Estilos css para iconos de social-media-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">

	<!-- Estilos css de bootstrap minificados-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!--Estilo css personalizado -->
	<link rel="stylesheet" href="../css/Encuesta_Uso_Tierra/Encuesta_Uso_Tierra.css">


	<!--Temas css de bootstrap minificados-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
		integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Titulo -->

	<title>SIG | SIGCARB</title>

	<!--Fin titulo -->


</head>

<body>
	<div class="container" id="formularioCuartoUsoTierra">

		<!-- Espacio -->

		<div>
			<p class="distancia"></p>
		</div>

		<!--Logo UNEG -->
		<div align="center">
			<img src="../Imagenes/uneg.png" width=75 height=60 align="middle"></img>
		</div>
		<!--Fin logo UNEG -->

		<!-- Encabezado -->
		<div align="center">
			<div> Universidad Nacional Experimental de Guayana. </div>
			<div> Proyecto Biocomplejidad en la Cuenca Alta del Río Botanamo. </div>
		</div>
		<!-- Fin del Encabezado -->

		<!-- Objetivo de la encuesta -->
		<div align="center">
			<div> Objetivo: Estudio del uso de la tierra y dinámica de cambio de la cobertura vegetal en la Cuenca Alta
				del Río Botanamo.</div>
		</div>
		<!-- Fin tìtulo del objetivo -->

		<!-- Tìtulo de la encuesta -->
		<div align="center">
			<div> Encuesta uso de la tierra.</div>
		</div>
		<!-- Fin tìtulo de la encuesta -->

		<!--Datos bàsicos -->
		<div>
			<p class="distancia"></p>
		</div>
		<div>
			<p class="distancia"></p>
		</div>
		<!-- Fila 1 del formulario -->

		<div class="row" align="center">
			<div class="inline" align="center">
				<div class="col-xs-3" align=left></div>
				<div class="col-xs-5" align=left><label>Nº Encuesta: {{numero_encuesta | agregar}}</label></div>
				<div class="col-xs-4" align=left><label>Fecha: {{fecha}}</label></div>
			</div>
		</div>
		<!--Fin de la Fila2 del formulario-->

		<div class="row" align="center">
			<div class="inline" align="center">
				<div class="col-xs-3" align=right></div>
				<div class="col-xs-5" align=left><label>Latitud: {{latitud}}</label></div>
				<div class="col-xs-4" align=left><label>Longitud: {{longitud}}</label></div>
			</div>
		</div>
		<!--Fin datos bàsicos-->

		<div>
			<p class="distancia"></p>
		</div>

		<!-- Tìtulo de la encuesta -->
		<div align="center">
			<h3> SOCIOECONÓMICO.</h3>
		</div>
		<!-- Fin tìtulo de la encuesta -->


		<h4 align="center"> Minería </h4>

		<div>
			<p class="distancia"></p>
		</div>
		<div>
			<p class="distancia"></p>
		</div>

		<div class="row">
			<div class="col-xs-6" align="left">
				30.Tipo de minería
			</div>
		</div>

		<div class="row" align="center">
			<div class="inline" align="center">
				<div class="col-xs-2" align="left"><label>1. Artesanal:</label></div>
				<div class="col-xs-1 check" align="left"><input type="radio" v-model="respuestas[0].opcion"
						value="Artesanal" id="artesanal"></div>
				<div class="col-xs-2" align="center"><label>2. Peq. Minería:</label></div>
				<div class="col-xs-1 check" align="left"><input type="radio" v-model="respuestas[0].opcion"
						value="Peq. Minería" id="pequeña_min"></div>
				<div class="col-xs-2" align="center"><label>3. Med. Minería:</label></div>
				<div class="col-xs-1 check" align="left"><input type="radio" v-model="respuestas[0].opcion"
						value="Med. Minería" id="mediana_min"></div>
				<div class="col-xs-2" align="left"><label>3. Gran Minería:</label></div>
				<div class="col-xs-1 check" align="left"><input type="radio" v-model="respuestas[0].opcion"
						value="Gran Minería" id="gran_min"></div>
			</div>
		</div>

		<div>
			<p class="distancia"></p>
		</div>
		<div>
			<p class="distancia"></p>
		</div>

		<div class="row">
			<div class="col-xs-6" align="left">
				31.¿Qué minerales extrae?
			</div>
		</div>

		<div class="row" align="center">
			<div class="inline" align="center">
				<div class="col-xs-1" align="left"><label>1.Oro:</label></div>
				<div class="col-xs-1 check" align="left"><input type="radio" value="Oro" v-model="respuestas[1].opcion"
						id="oro">
				</div>
				<div class="col-xs-1" align="center"><label>2.Hierro:</label></div>
				<div class="col-xs-1 check" align="left"><input type="radio" value="Hierro"
						v-model="respuestas[1].opcion" id="hierro">
				</div>
				<div class="col-xs-2" align="center"><label>3.Manganeso:</label></div>
				<div class="col-xs-1 check" align="left"><input type="radio" value="Manganeso"
						v-model="respuestas[1].opcion" id="manganeso"></div>
				<div class="col-xs-1" align="left"><label>4.Bauxita:</label></div>
				<div class="col-xs-1 check" align="left"><input type="radio" value="Bauxita"
						v-model="respuestas[1].opcion" id="bauxita"></div>
				<div class="col-xs-1" align=left><label>Otros:</label></div>
				<div id="dato" class="col-xs-2" align="left"><input class="form-control" id="otros_minerales"
						v-model="respuestas[1].texto"></div>
			</div>
		</div>

		<div>
			<p class="distancia"></p>
		</div>
		<div>
			<p class="distancia"></p>
		</div>
		<div>
			<p class="distancia"></p>
		</div>

		<div class="row">
			<div class="col-xs-12" align="left">
				32.¿En su actividad minera realiza o emplea alguna de las siguientes actividades y/o sustancias?
			</div>
		</div>

		<div class="row" align="center">
			<div class="inline" align="center">
				<div class="col-xs-2" align="left"><label>1.Deforestación:</label></div>
				<div class="col-xs-1 check" align="left"><input type="radio" value="Deforestación"
						v-model="respuestas[2].opcion" id="deforestacion"></div>
				<div class="col-xs-3" align="center"><label>2.Manguera de Presión:</label></div>
				<div class="col-xs-1 check" align="left"><input type="radio" value="Manguera de Presión"
						v-model="respuestas[2].opcion" id="manguera_presion"></div>
				<div class="col-xs-2" align="center"><label>3.Mercurio:</label></div>
				<div class="col-xs-1 check" align="left"><input type="radio" value="Mercurio"
						v-model="respuestas[2].opcion" id="mercurio"></div>
				<div class="col-xs-1" align=left><label>Otros:</label></div>
				<div id="dato" class="col-xs-1" align="left"><input class="form-control" id="otros_actividades"
						v-model="respuestas[2].texto"></div>
			</div>
		</div>

		<div>
			<p class="distancia"></p>
		</div>
		<div>
			<p class="distancia"></p>
		</div>

		<div class="row">
			<div class="col-xs-12" align="left">
				33.¿Existe alguna organización de mineros que los agrupe?
			</div>
		</div>

		<div class="row" align="center">
			<div class="inline" align="center">
				<div class="col-xs-1" align="left"><label>1. Si:</label></div>
				<div class="col-xs-1 check" align="left"><input type="radio" value="SI" v-model="respuestas[3].opcion"
						id="si_org_minera"></div>
				<div class="col-xs-1" align="center"><label>2. No:</label></div>
				<div class="col-xs-1 check" align="left"><input type="radio" value="NO" v-model="respuestas[3].opcion"
						id="no_org_minera"></div>
			</div>
		</div>

		<!--Botones -->
		<div align="center">
			<input class="btn btn-success" type="submit" value="Siguiente" v-on:click="Registrar()">
		</div>
		<!-- Fin botones -->

		<div>
			<p class="distancia"></p>
		</div>
		<div>
			<p class="distancia"></p>
		</div>

	</div>

	<!--JQuery-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!--Archivo Javascript de bootstrap minificado-->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
	</script>
	<script src="../Librerias/js/vue.js"></script>
	<script src="../js/Encuesta_Uso_Tierra/encuesta_uso_tierra4.js"></script>
</body>

</html>